# Binaries for programs and plugins
/gandi-livedns
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# .env files
/.env

# Config files
/config.json

# Lock files
/ip.lock